<div class="index">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="category">
                    <img src="<%= asset_path( 'design-index.png' ) %>" /><br>
                    <img src="<%= asset_path( 'login-bar1.png' ) %>" /><br>
                    <img src="<%= asset_path( 'category.png' ) %>" /><br>
                    <img src="<%= asset_path( 'login-bar3.png' ) %>" /><br>
                </div>
            </div>
            
            <div class="col-8">
                <div>
                    <img src="<%= asset_path( 'design-category.png' ) %>" />
                </div>
                <div>
                    <% @designs.each do |design| %>
                        <div class="product-list">
                            <a href="design/show/<%= design.id %>">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="index-image">
                                            <img src="<%= design.locallage.medium.url %>" />
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="product-content">
                                            <p class="index-title">
                                                <%= design.title %>
                                            </p>
                                            <hr>
                                            <p>
                                                <span class="index-university"><%= design.university %>대학교</span>
                                                <span class="index-grade"><%= design.grade %>학년</span>
                                                <span class="index-name"><%= design.name %></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>