<div class="detail">
  <div class="container">
    
    
    <% if !current_user.nil? %>
      <% if ((current_user.id == @design.user_id) || (current_user.has_role? :admin)) %>
        <a href="../<%= @design.id %>/edit">수정</a>
        <a href="../show/<%= @design.id %>/delete">삭제</a>
      <% end %>
    <% end %>
    
    <div class="row">
      
      <div class="col-7 detail-image">
        <img src="<%= @design.locallage.personal.url %>">
      </div>
      
      <div class="col-3">
        
        <div class="detail-title">
          <b><%= @design.title %></b>
        </div>
        
        <div class="detail-status">
          <div class="status-1">
            DESIGN &emsp;&emsp;&emsp;&emsp;<i class="fas fa-angle-down"></i>
          </div>
          <div class="status-2">
            <div class="detail-university">
              <%= @design.university %>대학교
            </div>
            <div class="detail-grade">
              <%= @design.grade %>학년
            </div>
            <div class="detail-name">
              <%= @design.name %>
            </div>
            <hr class="divider">
            <div class="detail-fixcontent">
              <i class="fas fa-check" style="color:orange"></i> 원본 파일 제공 <i class="fas fa-check" style="color:orange"></i> 무료 수정 2회 제공<br>
              <i class="fas fa-check" style="color:orange"></i> 시안 개수 : 2개
            </div>
            <div class="detail-day">
              <i class="far fa-calendar-alt"></i> 작업일 : 2 ~ 3일
            </div>
            
            <div class="detail-buy">
              <a href="#"><img src="<%= asset_path( 'matching.jpg' ) %>" /></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="row">
      
      <div class="col-7">
        <div class="detail-information">
          <div class="row">
            <div class="col detail-information1"><a onclick="mostrar(0);">가격정보</a></div>
            <div class="col detail-information2"><a onclick="mostrar(1);">수정사항</a></div>
            <div class="col detail-information3"><a onclick="mostrar(2);">취소 및 환불규정</a></div>
          </div>
        </div>
      </div>
      
      <div class="col-3"></div>
    </div>
    
    <div class="row">
      <div class="col-7">
        <div class="detail-information-content">
          <div class="hide detail-price">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">디자인정보</th>
                  <th scope="col">디자인내역</th>
                  <th scope="col">가격</th>
                  <th scope="col">기간</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>로고디자인</td>
                  <td>텍스트형2종 + 심볼형1종</td>
                  <td>100,000원</td>
                  <td>2~3일</td>
                </tr>
                <tr>
                  <td>명함디자인</td>
                  <td>명함디자인 2종</td>
                  <td>40,000원</td>
                  <td>2~3일</td>
                </tr>
                <tr>
                  <td>PPT디자인</td>
                  <td>PPT디자인</td>
                  <td>장당 5,000원</td>
                  <td>2~3일</td>
                </tr>
                <tr>
                  <td>현수막디자인</td>
                  <td>현수막디자인</td>
                  <td>30,000원</td>
                  <td>2~3일</td>
                </tr>
                <tr>
                  <td>포스터디자인</td>
                  <td>포스터디자인(A2, A4)</td>
                  <td>80,000원</td>
                  <td>2~3일</td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="hide detail-fix">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">기본 수정 규정</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>무료 수정 기본 2회 진행</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>2차 시안 이후 수정은 색상 및 크기변경, 위치변경 등 간단한 수정만 가능</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>1차 시안 이후 환불 60%, 2차 시안 이후 환불 불가</td>
                </tr>
              </tbody>
            </table> 
          </div>
          
          <div class="hide detail-refund">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col"> 취소 및 환불 규정</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>전문가와 의뢰인 간의 상호 협의 후 청약철회가 가능</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>전문가의 귀책사유로 디자인 작업이 시작되지 않았거나 보편적 관점에서 심각하게 잘못 이행한 경우 결제 금액 전체 환불이 가능</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>전문가가 작업 기간 동안 지정된 서비스를 제공하지 못한 경우 지급받은 서비스 비용을 일할 계산하여 작업물 개수와 작업기간 일수만큼 공제하고 잔여 금액을 환불합니다</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    
    
    <div class="row">
      <div class="col-7">
        <div class="detail-content">
          <hr>
          <%= h(@design.content).gsub(/\n/, '<br/>').html_safe %>
          <hr>
        </div>
        <div class="postfolio">
          <% @design_attachments.each do |p| %>
            <div class="portfolio-each">
              <a href="<%= p.portfolio_url %>" >
                <img src="<%= p.portfolio_url %>" width=600 /><br>
              </a>
            </div>
            <!--<?%= link_to "Edit Attachment", _path(p) %>-->
          <% end %>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

<script>
  function mostrar(order) {
    switch (order) {
        case 0:
            $(".hide").removeClass("show");
            $(".detail-price").addClass("show");
            break;
        case 1:
            $(".hide").removeClass("show");
            $(".detail-fix").addClass("show");
            break;
        case 2:
            $(".hide").removeClass("show");
            $(".detail-refund").addClass("show");
            break;
    }
  }
</script>
