<div class="detail">
  <div class="container">
    <% if !current_user.nil? %>
      <% if ((current_user.id == @design.user_id) || (current_user.has_role? :admin)) %>
        <a href="../<%= @design.id %>/edit">수정</a>
        <a href="../show/<%= @design.id %>/delete">삭제</a>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col">
        <img src="<%= @design.locallage.url %>" width=680 heigh= 480>
      </div>
      <div class="col">
        <div class="detail-university">
          <%= @design.university %>대학교
        </div>
        <div class="detail-grade">
          <%= @design.grade %>학년
        </div>
        <div class="detail-title">
          <%= @design.title %>
        </div>
      </div>
    </div>
    <div class="detail-content">
      <%= @design.content %>
    </div>
    <div class="postfolio">
      <% @design_attachments.each do |p| %>
        <div class="portfolio-each">
          <a href="<%= p.portfolio_url %>" >
            <img src="<%= p.portfolio_url %>" width=270 heigh= 100>
          </a>
        </div>
        <!--<?%= link_to "Edit Attachment", _path(p) %>-->
      <% end %>
    </div>
  </div>
</div>
