<% if !current_user.nil? %>
  <% if ((current_user.id == @video.user_id) || (current_user.has_role? :admin)) %>
    <a href="../<%= @video.id %>/edit">수정</a>
    <a href="../show/<%= @video.id %>/delete">삭제</a>
  <% end %>
<% end %>

<div>
</div>
<div>
</div>
<div>
</div>
<div>
  <%= @video.content %>
</div>
<div>
  <img src="<%= @video.locallage.url %>"><br>
</div>
<div>
  <% @video_attachments.each do |p| %>
    <!--<%= p.portfolio_url %>-->
    <video width="320" height="240" controls>
      <source src=<%= p.portfolio_url %> type="video/mp4">
    </video>
    <!--<?%= link_to "Edit Attachment", _path(p) %>-->
  <% end %>
</div>
