<div class="detail">
  <div class="container">
    
    <!-- 어드민 수정/삭제 기능 버튼 -->
    <% if !current_user.nil? %>
      <% if ((current_user.id == @video.user_id) || (current_user.has_role? :admin)) %>
        <a href="../<%= @video.id %>/edit">수정</a>
        <a href="../show/<%= @video.id %>/delete">삭제</a>
      <% end %>
    <% end %>
    
    <div class="row">
      
      <div class="col-7">
        
        <!-- 개인 페이지의 이미지 -->
        <div class="detail-image">
          <img src="<%= @video.locallage.personal.url %>">
        </div>
        
        <!-- 가격, 수정사항, 환불 규정-->
        <div class="detail-information">
          <div class="row">
            <div class="col detail-information1"><a onclick="mostrar(0);">가격정보</a></div>
            <div class="col detail-information2"><a onclick="mostrar(1);">수정사항</a></div>
            <div class="col detail-information3"><a onclick="mostrar(2);">취소 및 환불규정</a></div>
          </div>
        </div>
    
        <!-- 가격, 수정사항, 환불 규정 세부사항-->
        <div class="detail-information-content">
          <div class="detail-price">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">촬영 소스</th>
                  <th scope="col">30분 미만</th>
                  <th scope="col">30분 ~ 1시간 미만</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1분 미만</td>
                  <td>5만원</td>
                  <td>7만원</td>
                </tr>
                <tr>
                  <td>1분 ~ 3분 미만</td>
                  <td>7만원</td>
                  <td>12만원</td>
                </tr>
                <tr>
                  <td>3분 ~ 5분 미만</td>
                  <td>12만원</td>
                  <td>15만원</td>
                </tr>
                <tr>
                  <td>5분 ~ 10분 미만</td>
                  <td>15만원</td>
                  <td>20만원</td>
                </tr>
              </tbody>
            </table>
            
            <p>※ 1시간 이상의 촬영소스는 협의 후 가격 결정</p>
          </div>
          
          <div class="hide detail-fix">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col">기본 수정 규정</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>무료 수정 기본 1회 가능합니다.</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>편집완료 이후 수정은 컷 편집, 추가자막 등 간단한 수정만 가능합니다.</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>편집 완료 이후 환불 불가능합니다.</td>
                </tr>
              </tbody>
            </table> 
          </div>
          
          <div class="hide detail-refund">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th scope="col"> 취소 및 환불 규정</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>전문가와 의뢰인의 상호 협의하에 청약 철회 및 환불이 가능합니다.</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>작업 착수 이후 청약 철회 시, 진행된 작업량 공제한 금액을 환불 가능합니다.</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>편집 작업 50% 완료 후 청약 철회 : 총 결제 금액의 최대 10%까지 환불 가능합니다.</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>작업 기간 미준수, 작업 태만 및 이에 상응하는 전문가 책임으로 인한 청약 철회 시, 환불 및 편집본 제공이 가능합니다.</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>작업이 시작되면 단순 변심 또는 의뢰인 책임 사유로 인한 전액 환불이 불가능합니다.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <!-- 상세설명 -->
        <div class="detail-content">
          <hr>
          <%= h(@video.content).gsub(/\n/, '<br/>').html_safe %>
          <hr>
        </div>
        
        <!-- 유튜브 영상 삽입-->
        <div>
          <% if !@video.video_url.blank? %>
          <iframe width="700" height="500"
            src="https://www.youtube.com/embed/<%= @video.video_url.split('/')[-1] %>" frameborder="0" allowfullscreen>
            <!--src="<%= @video.video_url %>" frameborder="0" allowfullscreen>-->
          </iframe>
          <% end %>
        </div>
        
        <!-- 포트폴리오 -->
        <div class="postfolio">
          <% @video_attachments.each do |p| %>
            <div class="portfolio-each">
              <% if p.portfolio_url.split('.')[-1] == ('mp4' or 'avi' or 'wmv') %>
                <video  width="700" height="500" controls>
                  <source src="<%= p.portfolio_url %>">
                </video>
              <% else %>
                  <img src="<%= p.portfolio_url %>" width=600 /><br>
              <% end %>
            </div>
            <!--<?%= link_to "Edit Attachment", _path(p) %>-->
          <% end %>
        </div>
      </div>
      
      <div class="col-3">
        
        <!-- 개인페이지 상태바 -->
        
        <!-- 개인페이지 제목 -->
        <div class="detail-title">
          <b><%= @video.title %></b>
        </div>
        
        <!-- 개인페이지 상태바 세부 -->
        <div class="detail-status">
          <div class="status-1">
            VIDEO &emsp;&emsp;&emsp;&emsp;<i class="fas fa-angle-down"></i>
          </div>
          <div class="status-2">
            <div class="detail-university">
              <%= @video.university %>대학교
            </div>
            <div class="detail-grade">
              <%= @video.grade %>학년
            </div>
            <div class="detail-name">
              <%= @video.name %>
            </div>
            <hr class="divider">
            <div class="detail-fixcontent">
              <i class="fas fa-check" style="color:orange"></i> 자막 삽입 &emsp;&emsp;<i class="fas fa-check" style="color:orange"></i> 배경음악<br>
              <i class="fas fa-check" style="color:orange"></i> 색 보정 &emsp;&emsp;&nbsp;&nbsp;<i class="fas fa-check" style="color:orange"></i> 컷 편집<br>
              <i class="fas fa-check" style="color:orange"></i> 로고 삽입
            </div>
            <div class="detail-day">
              <i class="far fa-calendar-alt"></i> 상의 후 결정
            </div>
            
            <div class="detail-buy">
              <a href="http://pf.kakao.com/_wEdxej/chat" target="_blank"><img src="<%= asset_path( 'matching.jpg' ) %>" /></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  /* 수정, 가격 및 환불 설명창 변경 스크립트*/
  function mostrar(order) {
    switch (order) {
        case 0:
            $(".hide").removeClass("show");
            $(".detail-price").addClass("show");
            break;
        case 1:
            $(".hide").removeClass("show");
            $(".detail-fix").addClass("show");
            $(".detail-price").addClass("hide");
            break;
        case 2:
            $(".hide").removeClass("show");
            $(".detail-refund").addClass("show");
            $(".detail-price").addClass("hide");
            break;
    }
  }
</script>
