<div class="new-content">
  <div class="container">
    <%= form_for(@video, :html => { :multipart => true }, url: video_create_path) do |f| %>
    
      <%= f.label :locallage %>
      <%= f.file_field :locallage %><br>
      
      <%= f.label :title %>
      <%= f.text_field :title %><br>
    
      <%= f.label :university %>
      <%= f.text_field :university %><br>
    
      <%= f.label :grade %>
      <%= f.text_field :grade %><br>
      
      <%= f.label :name %>
      <%= f.text_field :name %><br>
      
      <%= f.label :video_url %>
      <%= f.text_field :video_url %>
      https://www.youtube.com/embed/<br>
    
      <%= f.label :content %>
      <%= f.text_area :content %><br>
      
    
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.fields_for :video_attachments do |p| %>
      <div class="field">
        <%= p.label :portfolio %><br>
        <%= p.file_field :portfolio, :multiple => true, name: "video_attachments[portfolio][]" %>
      </div>
      <% end %>

     <div class="actions">
       <%= f.submit %>
     </div>
    <% end %>
  </div>
</div>