<!DOCTYPE html>
<html>
  <head>
    <title>Locallage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body style="overflow: scroll;">
    <div class="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
    
    
    <div class="logo_back">
      <div class="container">
        
        <!-- 로고 -->
        <div class='logo'>
          <a href=<%= root_path %>><img src="<%= asset_path( 'mainlogo.png' ) %>" alt="logo" /></a> 
        </div>
      
        
        <!-- HOME/ABOUT/BLOG -->
        <div class="first_bar">
          <a href="/design"><img src="<%= asset_path( 'design.png' ) %>" /></a>
          <a href="/video"><img src="<%= asset_path( 'video.png' ) %>" /></a>
          <a href="/ready"><img src="<%= asset_path( 'promotion.png' ) %>" /></a>
        </div>
        
      </div>
    </div>
    
    <!-- 메인 메뉴들 정리해둔 것 -->
    <div class="menu">
      <div class="bar">
        <div class="container">
          <div class="nav">
            <div class="product">
              <a href=<%= root_path %>><img src="<%= asset_path( 'home.png' ) %>" /></a>
              <a href="/about"><img src="<%= asset_path( 'about.png' ) %>" /></a>
              <a href="/ready"><img src="<%= asset_path( 'blog.png' ) %>" /></a>
            </div>
            <div class="status">
              <% if !current_user.nil? %>
                <% if current_user.has_role? :admin %>
                  <a href="/new"><img src="<%= asset_path( 'new.png' ) %>" /></a>
                <% end %>
                <a href=<%= logout_path%>><img src="<%= asset_path( 'logout.png' ) %>" /></a>
              <% else %>
                <a href=<%= new_user_session_path%>><img src="<%= asset_path( 'login.png' ) %>" /></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= yield %>

    
    <!-- 푸터 부분 -->
    <div class="footer">
      <div class="container">
        <img id="footer-1" src="<%= asset_path( 'footer-1.png' ) %>" width="" height="" />
        <img id="footer-2" src="<%= asset_path( 'footer-2.png' ) %>" width="" height="" />
        <img id="footer-3" src="<%= asset_path( 'footer-3.png' ) %>" width="" height="" />
        <img id="footer-4" src="<%= asset_path( 'footer-4.png' ) %>" width="" height="" />
        <img id="footer-5" src="<%= asset_path( 'footer-5.png' ) %>" width="" height="" />
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
