<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136962327-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-136962327-1');
    </script>
    <title>로컬리지</title>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/locallage-image/locallagemain.png?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luEMP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLW5vcnRoZWFzdC0yIoAC4dyUrmngw%2B0cnUrKFxw3rTq0HAWB2VFkwmCRBOYD2W9pGEbqg89pnIB34BzR%2BPCvpiJArgFbAPbDlQThwb%2BmeVfTlfLIpNo5%2Ft%2FMA1PM09KQ2ppDWHOaUKu%2F7TTEdU0byNnI5amazdNcO%2BREOOfcqCI%2Bz0wYiHqAl5cNhL9d7NDOVg0scoCxS%2BZZXvuw1HQ0oTQ6%2BrLZXeY5uXxe1zqMPSKUrN1a8onTGVDdRpgwSvZlMVHciDp%2BZuBChlce7TbJtFuVWrCDBNqVY54id7BObBu9mRVes3b7%2FYDfsvPMgU%2BZRPpxvrx5b9g%2FeTu6glPgw7%2BJ1hpCGliHfjAw09LbUyrbAwhAEAAaDDkzODAxODQ2OTczNSIMZIHZGntFvpOmJgelKrgDzib90%2B30eIuBUuZt036RVzkQuo%2FJHkR31%2FUFlfNBfY%2BHb%2Fcgaeg0dJAEptWhMtpDcFYsCu3eqFJCc%2Fr0iGRIojVNXjIN5UrFHziCW%2BLnGi%2FpE78TYyZYmWuRpUpHDoZ%2B5jraKrqLMzRA4jQRaVbHytazFwznwAFabKRttXqlH2FFWmWS7wvhzoTqV3Sfe05wBNzuhegIphluGZoZhlIeSZddCqQLjo48EhIrs2H0zy%2BhBGv4s8OixUscfqrvjkAEiQL6vJt75TMWXyax4M1k3ONHzWBVdKaZ3UPkasW1ERn96S87DdOu1OaoEdyz92yXLOFbIwgvwO12H6eHADlO%2Bx7VB6d7Hr0JHHYaBvEwISG8g6foFTddOErfn3fIdqYRzBCw2nrbOp%2FsEG%2FMyRKQ1p0M3mj03BqdZLukAIoy%2FqA9yz76j9gzHJtxOuxFCJDpuj39M%2B96lXQD%2BoAbwU9Dol2fcVqFmZKA%2BQI%2Fjp6aHz4y2KPkzXgsXCGTIUvcHuGfjx8602MNUj2f2em5XSpm89eGv282gtvM3ofcUfhhOK3%2FhXr0k1NrW8MP5i%2BL9G29Xkn10q%2FP4bIw1J%2BV5gU%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20190428T071842Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA5UZSB65T2YACFKLR%2F20190428%2Fap-northeast-2%2Fs3%2Faws4_request&X-Amz-Signature=dd896b53826325822eab3c6f0e7f24d4565f408eb998d5d132fa6e15dab199e3">
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale">
    <meta name="naver-site-verification" content="f7a408a67179ada0506b3077655ec2c1b6f7a78d"/>
    <meta name="description" content="스타트업과 대학생 전문가를 이어주는 플랫폼"/>
    <link rel="canonical" href="http://www.locallage.co.kr/index"/>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
  </head>

  <body style="overflow: scroll;">
    <div class="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
    
    
    <div class="logo_back">
      <div class="container">
        
        <!-- 로고 -->
        <div class='logo'>
          <a href=<%= root_path %>><img src="<%= asset_path( 'mainlogo.png' ) %>" alt="logo" /></a> 
        </div>
      
        
        <!-- HOME/ABOUT/BLOG -->
        <div class="first_bar">
          <a href="/design"><img src="<%= asset_path( 'design.png' ) %>" /></a>
          <a href="/video"><img src="<%= asset_path( 'video.png' ) %>" /></a>
          <a href="/ready"><img src="<%= asset_path( 'promotion.png' ) %>" /></a>
        </div>
        
      </div>
    </div>
    
    <!-- 메인 메뉴들 정리해둔 것 -->
    <div class="menu">
      <div class="bar">
        <div class="container">
          <div class="nav">
            <div class="product">
              <a href=<%= root_path %>><img src="<%= asset_path( 'home.png' ) %>" /></a>
              <a href="/about"><img src="<%= asset_path( 'about.png' ) %>" /></a>
              <a href="/ready"><img src="<%= asset_path( 'blog.png' ) %>" /></a>
            </div>
            <div class="status">
              <% if !current_user.nil? %>
                <% if current_user.has_role? :admin %>
                  <a href="/new"><img src="<%= asset_path( 'new.png' ) %>" /></a>
                <% end %>
                <a href=<%= logout_path%>><img src="<%= asset_path( 'logout.png' ) %>" /></a>
              <% else %>
                <a href=<%= new_user_session_path%>><img src="<%= asset_path( 'login.png' ) %>" /></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= yield %>

    
    <!-- 푸터 부분 -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col"><p class="footer-title">(주) 로컬리지 사업자 정보</p><p>(주) 로컬리지<br>홍재형</p></div>
          <div class="footer-col"><p class="footer-title">카테고리</p><p><a href="/design">디자인</a><br><a href="/video">영상</a><br><a href="/ready">홍보</a></p></div>
          <div class="footer-col"><p class="footer-title">서비스 이용 방법</p><p><a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">구매방법</a><br>
          <a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">판매방법</a><br>
          <a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">업체 등록 방법</a></p></div>
          <div class="footer-col"><p class="footer-title">로컬리지 정보</p><p><a href="/ready">서비스소개</a><br><a href="/ready">이용약관</a></p></div>
          <div class="footer-col"><p class="footer-title">고객센터</p><p>010-5191-9789<br>평일 10시 ~ 18시</p></div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
