<!DOCTYPE html>
<html>
  <head>
    <title>로컬리지</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale">
    <meta name="naver-site-verification" content="f7a408a67179ada0506b3077655ec2c1b6f7a78d"/>
    <meta name="description" content="스타트업과 대학생 전문가를 이어주는 플랫폼"/>
    <link rel="canonical" href="http://www.locallage.co.kr/index"/>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
  </head>

  <body style="overflow: scroll;">
    <div class="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
    
    
    <div class="logo_back">
      <div class="container">
        
        <!-- 로고 -->
        <div class='logo'>
          <a href=<%= root_path %>><img src="<%= asset_path( 'mainlogo.png' ) %>" alt="logo" /></a> 
        </div>
      
        
        <!-- HOME/ABOUT/BLOG -->
        <div class="first_bar">
          <a href="/design"><img src="<%= asset_path( 'design.png' ) %>" /></a>
          <a href="/video"><img src="<%= asset_path( 'video.png' ) %>" /></a>
          <a href="/promotion"><img src="<%= asset_path( 'promotion.png' ) %>" /></a>
        </div>
        
      </div>
    </div>
    
    <!-- 메인 메뉴들 정리해둔 것 -->
    <div class="menu">
      <div class="bar">
        <div class="container">
          <div class="nav">
            <div class="product">
              <a href=<%= root_path %>><img src="<%= asset_path( 'home.png' ) %>" /></a>
              <a href="/about"><img src="<%= asset_path( 'about.png' ) %>" /></a>
              <a href="/ready"><img src="<%= asset_path( 'blog.png' ) %>" /></a>
            </div>
            <div class="status">
              <% if !current_user.nil? %>
                <% if current_user.has_role? :admin %>
                  <a href="/new"><img src="<%= asset_path( 'new.png' ) %>" /></a>
                <% end %>
                <a href=<%= logout_path%>><img src="<%= asset_path( 'logout.png' ) %>" /></a>
              <% else %>
                <a href=<%= new_user_session_path%>><img src="<%= asset_path( 'login.png' ) %>" /></a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <%= yield %>

    
    <!-- 푸터 부분 -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col"><p class="footer-title">(주) 로컬리지 사업자 정보</p><p>(주) 로컬리지<br>홍재형</p></div>
          <div class="footer-col"><p class="footer-title">카테고리</p><p><a href="/design">디자인</a><br><a href="/video">영상</a><br><a href="/promotion">홍보</a></p></div>
          <div class="footer-col"><p class="footer-title">서비스 이용 방법</p><p><a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">구매방법</a><br>
          <a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">판매방법</a><br>
          <a href="http://pf.kakao.com/_wEdxej/chat" target="_blank">업체 등록 방법</a></p></div>
          <div class="footer-col"><p class="footer-title">로컬리지 정보</p><p><a href="/ready">서비스소개</a><br><a href="/ready">이용약관</a></p></div>
          <div class="footer-col"><p class="footer-title">고객센터</p><p>010-5191-9789<br>평일 10시 ~ 18시</p></div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
