<!DOCTYPE html>
<html>
  <head>
    <title>Locallage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body style="overflow: scroll;">
  
    <div class="container">
      
      <!-- 로그인/로그아웃, 상태창 -->
      <div class='status'>
        <% if !current_user.nil? %>
          <%= current_user.last_name + current_user.first_name %>
          <%=link_to '로그아웃', logout_path%>
        <% else %>
          <a href="<%= new_user_session_path%>"><img src="<%= asset_path( 'signin.jpg' ) %>" alt="signin" width="70" height="35" /></a>
          <a href="<%= new_user_session_path%>"><img src="<%= asset_path( 'login.jpg' ) %>" alt="login" width="70" height="35" /></a>
        <% end %>
      </div>
    </div>
    
    <div class="container">
      <!-- 로고 -->
      <div class='logo'>
        <a href=<%= root_path %>><img src="<%= asset_path( 'locallage.jpg' ) %>" alt="logo" heigt="140" width="140"/></a> 
      </div>
      
      <!-- 검색바 -->
      <div class='search'>
        <input type='search'><a href=""><img src="<%= asset_path( 'search_icon.jpg' ) %>" width="48" height="48" /></a>
      </div>  
      
      <!-- 판매/구매/메시지 -->
      <div class="sellbuy">
        <a href="/new"><img src="<%= asset_path( 'sell.jpg' ) %>" width="55" height="30" /></a>
        <a href=""><img src="<%= asset_path( 'buy.jpg' ) %>" width="45" height="33" /></a>
        <a href=""><img src="<%= asset_path( 'message.jpg' ) %>" width="52" height="33" /></a>
      </div>
      
    </div>
    
    <!-- 메인 메뉴들 정리해둔 것 -->
    <div class="menu">
      <div class="bar">
        <div class="nav">
          <div class="container">
            <div class="nav-item-list">
              <a class="nav-item" href="/video"><img src="<%= asset_path( 'video.jpg' ) %>" width="45" height="25" /></a>
              <a class="nav-item" href="/design"><img src="<%= asset_path( 'design.jpg' ) %>" width="60" height="25" /></a>
              <a class="nav-item" href="#"><img src="<%= asset_path( 'document.jpg' ) %>" width="80" height="30" /></a>
              <a class="nav-item" href="#"><img src="<%= asset_path( 'translation.jpg' ) %>" width="90" height="30" /></a>
              <a class="nav-item" href="#"><img src="<%= asset_path( 'promotion.jpg' ) %>" width="45" height="25" /></a>
              <a class="nav-item" href="#"><img src="<%= asset_path( 'tutoring.jpg' ) %>" width="45" height="25" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
